<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>

    <dds-navbar nav-title="Thumbna1l" nav-fixed="top">
        <dds-navbar-item item-link="https://devent.kr">devent.kr</dds-navbar-item>
    </dds-navbar>


    <dds-header 
        header-title="블로그 썸네일을 손쉽게"
        header-sub-title="Thumbna1l은 썸네일을 간편하게 만들어주는 도구입니다.">
        
    </dds-header>


    <section class="py-5" id="features">
        <div class="container-fluid px-4 my-5">
            <div class="row gx-5">

                <div class="col-lg-8">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">수정 </h2>

                    <div id="body_svg">

                    </div>


                    <div class="mb-3 mt-3">
                        <b>이미지 url</b>
                        <input id="image_1" type="text" class="form-control" oninput="thumb.svg.change()" placeholder="URL/" value="https://cdn.pixabay.com/photo/2022/01/13/14/53/bird-6935465_1280.jpg">
                    </div>

                    <div class="mb-3">
                        <b>이미지 조정</b>
                        <input id="transform_1" type="text" class="form-control" oninput="thumb.svg.change()" placeholder="translate(-81 9) scale(1.81)" value="translate(-81 9) scale(1.81)">
                    </div>

                    <div class="mb-3">
                        <b>분류</b>
                        <input id="type_1" type="text" class="form-control"  oninput="thumb.svg.change()" placeholder="회고/" value="프로젝트 회고">
                    </div>

                    <b>타이틀 텍스트</b>
                    <div class="mb-3">
                        <input id="input_1" type="text" class="form-control" onchange="thumb.svg.change()" oninput="thumb.svg.change()" placeholder="첫 문장">
                    </div>

                    <div class="mb-3">
                        <input id="input_2" type="text" class="form-control" onchange="thumb.svg.change()" oninput="thumb.svg.change()" placeholder="다음 문장">
                    </div>        

                    <div class="mb-3">
                        <input id="input_3" type="text" class="form-control" onchange="thumb.svg.change()" oninput="thumb.svg.change()" placeholder="마지막 문장">
                    </div>




                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">컨트롤</h2>
                    <img id="preview" src="" alt="">
                    <select id="select_type" class="form-select form-control mb-3" aria-label="Default select example" onchange="thumb.svg.append()">
                        <option value="rem">회고</option>
                        <option value="2">생각</option>
                        <option value="tech">기술</option>
                    </select>

                    <h2 class="h4 fw-bolder mt-3">분류 카테고리</h2>

                    <div class="mb-3">
                        <b>회고</b>
                        <p>프로젝트 회고 | 짧은 기록 | 연간 회고</p>
                    </div>

                    <div class="mb-3">
                        <b>생각</b>
                        <p>스토리 | 프로젝트 | 프리스타일 | 짧은 글 | 시리즈</p>
                    </div>

                    <div class="mb-3">
                        <b>기술</b>
                        <p>Python | JS | NodeJS | Docker | 에러와의 전쟁 | CTF | 정보공유 | 기타</p>
                    </div>

                    <h2 class="h4 fw-bolder mt-3">설정</h2>

                    <button class="btn btn-blue" onclick="thumb.image.download()"><i class="fas fa-download"></i> 이미지 다운로드</button>

                </div>
            </div>
        </div>
    </section>


    
                                
    <dds-footer
        project-title="DeVent Thumbna1l"
        sub-title="데벤트"
        company-name="사업자등록번호 : 429-52-00535 | 대표: 허형준"
        project-email="문의: info@devent.kr">
    </dds-footer>
    
    {{> footer}}

    <script>

        thumb.svg.load('rem')


    </script>

  </body>
</html>