
.font-title {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.font-weight-lg {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 700 !important;
}
.font-weight-md {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 500 !important;
}

.card-title{
    font-family: 'Noto Sans KR', sans-serif;

}

.form-textarea{
    border: none !important;
}

body.swal2-height-auto {
    height: initial !important;
}

.swal2-container.swal2-center>.swal2-popup {
    border-radius: 10px;
}

.cls-3 {
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: black;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/NotoSansKR-Black.otf") format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/NotoSansKR-Medium.otf") format("opentype");
}